*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, Poppins;
    scroll-behavior: smooth;
}
body{
    background-color: #000066;
}
.header{
    background-color: #00001a;
    height: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url("pexels-ketut-subiyanto-4474030.jpg"); */
    /* background-size: cover; */
    /* background-position: center; */
    /* padding: 0 0 5%; */
}
.mainHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
    padding: 2% 12.5%;
    border-bottom: .1rem solid #fff;
    position: relative;
    /* top: 0; */
    /* z-index: 999999999; */
}
.social-bar a{
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: .89s;
}
.social-bar a:hover{
    color: yellow;
}
.headerNav{
    /* position: relative; */
    /* width: 100%; */
    /* height: 100%; */
    /* padding: 0; */
}
.headerNav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* position: relative; */
}
.headerNav .fa-bars, .headerNav .fa-times{
    display: none;
}
.headerNav .nav{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 1rem;
    text-transform: uppercase;
}
.headerNav .button{
    background-color: transparent;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    /* opacity: 0.7; */
    font-weight: 300;
    border: .1rem solid #fff;
    color: #fff;
    transition: .50s;
    /* padding: 3% 5%; */
    /* margin-left: 30px; */
    box-shadow: 0 0 10px #eee;
}
.headerNav .button:hover{
    background-color: #000;
    /* opacity: 1; */
    color: #fff;
    /* transform: translateY(-10%); */
}
.headerNav .button:active{
    transform: translateY(10%);
}
.headerNav .active{
    color: yellow;
}
.aboutContainer{
    width: 75%;
    margin: 5% auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    /* border-bottom: .1rem solid black; */
    /* padding-bottom: .5rem; */
    height: 100%;


}
.aboutContainer img{
    /* border: 2px solid #00001a; */
    width: 20vw;
    border-radius: 3rem;
    /* padding: 1rem .5rem 0 0; */

}
.textContent{
    /* margin-top: -30px; */
    padding-left: 1rem;
    border-left: .2rem solid #fff;
    /* height: 100%; */
    color: #fff;
}
.textContent p{
    font-size: 1rem;
    /* width: 20vw; */
    line-height: 1.5;
    font-weight: 200;
    /* font-style: italic; */
    padding-bottom: .8rem;
    height: 100%;

}
.textContent a{
    color: #fff;
    font-size: .8rem;
    background-color: #00001a;
    padding: .4rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .2rem;
    outline: none;
    border: 0;
    line-height: 2;
    /* margin-bottom: 10px; */
    /* margin: 10px 0; */
}
.textContent p span{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
.projectsContainer h1{
    color: #fff;
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    padding: .5rem 0;
    text-transform: uppercase;
    /* background-color: #00001a; */
    /* display: inline-block; */
    /* border-radius: 50%; */
}
.projectsContainer div > h1{
    display: inline-block;
    border-radius: 50%;
    padding: .5rem;
    background-color: #00001a;
}
.projectsContainer{
    width: 100%;
    /* margin: 0 auto; */
    /* background-color: #000; */
}
.projectsContainer .firstRow{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    width: 55%;
    /* justify-content: space-between;
    align-items: center; */
    height: 100%;
    margin: 5% auto;
}
.projectsContainer .projectName{
    background-image: url("/pexels-pixabay-327540.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20vw;
    height: 20vw;
    position: relative;
    margin-right: 5rem;
    transition: .20s;
    border: 0;
    outline: 10px solid #00001a;
    border-radius: 20px;
}
.projectsContainer .projectName:hover{
    transform: translateY(-5%);
}
/* .projectsContainer .projectName:nth-child(2){
    margin-top: 5rem;
}
.projectsContainer .projectName:nth-child(3){
    margin-top: 10rem;
} */
.footerContainer{
    background-color: #00001a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: .7rem 0;
}
.footerContainer p{
    padding: 0 .3rem;
    font-size: .7rem;
}
.footerContainer p a{
    color: yellow;
}
