*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, Poppins;
    scroll-behavior: smooth;
}
body{
    background-color: #000066;
}
.header{
    background-color: #00001a;
    height: 100%;
}
.mainHeader{
    background-color: #00001a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5% 12.5%;
    box-shadow: 0 2px 4px #00f;
    position: fixed;
    top: 0;
    z-index: 8478474;
}
.social-bar a{
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: .89s;
}
.social-bar a:hover{
    color: yellow;
}
.headerNav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.headerNav .fa-bars, .headerNav .fa-times{
    display: none;
}
.headerNav .nav{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 1rem;
    text-transform: uppercase;
}
.headerNav .nav:hover{
    color: #ff0;
}
.headerNav .button{
    background-color: transparent;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 300;
    border: .1rem solid #fff;
    color: #fff;
    transition: .50s;
    box-shadow: 0 0 10px #eee;
}
.headerNav .button:hover{
    background-color: #000;
    color: #fff;
}
.headerNav .button:active{
    transform: translateY(10%);
}
.aboutContainer{
    width: 75%;
    margin: 18% auto 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;


}
.aboutContainer img{
    width: 20vw;
    border-radius: 3rem;
    box-shadow: 0 0 5px #00f;

}
.textContent{
    padding-left: 1rem;
    /* border-left: .2rem solid #fff; */
    color: #fff;
}
.textContent p{
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    padding: 1rem .8rem;
    height: 100%;

}
.textContent a{
    color: #fff;
    font-size: .8rem;
    background-color: #00001a;
    padding: .4rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .2rem;
    outline: none;
    border: 0;
    cursor: pointer;
    line-height: 1.5;
}
.textContent p span{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}
.projectsContainer h1{
    color: #fff;
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
    padding: .5rem 0;
    text-transform: uppercase;
}
.projectsContainer div > h1{
    display: inline-block;
    border-radius: 50%;
    padding: .5rem;
    background-color: #00001a;
}
.projectsContainer{
    width: 100%;
}
.projectsContainer .firstRow{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    width: 80%;
    height: 100%;
    margin: 5% auto;
}
.projectsContainer .projectName{
    background-image: url("/pexels-pixabay-327540.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20vw;
    position: relative;
    transition: .20s;
    border: 10px solid #fff;
    outline: 1px solid #00f;
    border-radius: 20px;
    box-shadow: 0 0 10px #00f;
}
.projectsContainer  .first{
    background-image: url("/first.jpg");
}
.projectsContainer .second{
    background-image: url("/second.jpg");
}
.projectsContainer .third{
    background-image: url("/third.jpg");
}
.projectsContainer .fourth{
    background-image: url("/fourth.jpg");
}
.footerContainer{
    background-color: #00001a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: .7rem 0;
}
.footerContainer p{
    padding: 0 .3rem;
    font-size: .7rem;
}
.footerContainer p a{
    color: yellow;
}
