@media screen and (max-width: 800px){
    .mainHeader{
        padding: 4% 12.5%;
        /* width: ; */
    }
    .textContent{
        width: 100%;
    }
    .textContent p{
        width: 100%;
    }
    .headerNav ul{
        display: none;
    }
    .headerNav .fa-bars,.headerNav ul .fa-times{
        position: absolute;
        
        color: #fff;
        cursor: pointer;
    }
    .headerNav .fa-bars{
        display: block;
        top: 50%;
        transform: translateY(-50%);
        right: 20px; 
    }
    .headerNav ul .fa-times{
        font-size: 25px;
        display: block;
        top: 20px;
        left: 20px;
    }

    .headerNav ul{
        display: none;
        align-items: center;
        justify-content: center;
        /* margin-top: 30px; */
        flex-direction: column;
        /* grid-template-columns: repeat(1 1fr); */
        /* gap: 10PX; */
        text-align: center;
        height: 100vh;
        width: 100%;
        background-color: blue;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all .98s;
    }
    .headerNav li{
        font-size: .8rem;
        margin-top: 30px;
    }
    .headerNav .button{
        font-size: .8rem;
        padding: .5rem .8rem;
    }
    .header .textContent{
        margin: 20% auto 0;
    }
    .header .textContent h1{
        font-size: 1.5rem;
        width: 80%;
        margin: 0 auto;
    }
    .header .textContent p{
        width: 80%;
    }
    .benefitsBox{
        display: flex;
        flex-direction: column;
    }
    .benefits h1{
        font-size: 1.5rem;
    }
    .unlockText{
        width: 75%;
    }
    .form .buttons a{
        font-size: .8rem;
    }
    .servicesMainDisplay{
        display: flex;
        flex-direction: column;
    }
    .serviceName{
        width: 100%;
        
    }
    .serviceName p{
        font-size: .7rem;
    }
    .aboutContainer{
        flex-direction: column;
        justify-content: center;
        width: 80%;
        /* height: 4; */
    }
    .textContent p span{
        font-size: 1.2rem;
    }
    .contactSection form{
        width: 80%;
    }
    .contactSection h1{
        font-size: 1.2rem;
    }
    .contactSection p{
        font-size: .8rem;
    }
    .form{
        width: 75%;
    }
    .form textarea{
        height: 20vh;
    }
    .footerContainer p{
        font-size: .6rem;
    }
    .servicesContainer h1{
        font-size: 1.5rem;
    }
    .FAQContainer h1{
        font-size: 1rem;
    }
    .aboutContainer img{
        width: 60vw;
        margin-bottom: 15px;
    }
    .projectsContainer .firstRow{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .projectsContainer .projectName{
        width: 100%;
        height: 40vh;
    }
    form .buttons a:nth-child(2){
        width: 220px;
        /* padding: .5rem 1rem; */
    }
}