*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, Poppins;
    scroll-behavior: smooth;
}
body{
    background-color: #222;
}
.header{
    /* background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url("pexels-ketut-subiyanto-4474030.jpg"); */
    /* background-size: cover; */
    /* background-position: center; */
    /* padding: 0 0 5%; */
    background-color: #000;
}
.mainHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 auto; */
    padding: 2% 12.5%;
    border-bottom: .1rem solid #fff;
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 999999999; */
}
.social-bar a{
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: .89s;
}
.social-bar a:hover{
    color: yellow;
}
.headerNav{
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    padding: 0;
}
.headerNav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* position: relative; */
}
.headerNav .fa-bars, .headerNav .fa-times{
    display: none;
}
.headerNav .nav{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 1rem;
    text-transform: uppercase;
}
.headerNav .button{
    background-color: transparent;
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    /* opacity: 0.7; */
    font-weight: 300;
    border: .1rem solid #fff;
    color: #fff;
    transition: .50s;
    /* padding: 3% 5%; */
    /* margin-left: 30px; */
    box-shadow: 0 0 10px #eee;
}
.headerNav .button:hover{
    background-color: #000;
    /* opacity: 1; */
    color: #fff;
    /* transform: translateY(-10%); */
}
.headerNav .button:active{
    transform: translateY(10%);
}
.headerNav .active{
    color: yellow;
}
.servicesContainer{
    width: 100%;
    margin: 0 auto;
    /* color: #fff; */
    text-align: center;
    padding: 1rem 0;
    /* background-color: black; */
}
.servicesMainDisplay{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: .5rem;
    /* background-color: #fff; */
}
.servicesContainer h1{
    font-size: 1.5rem;
    padding: .5rem .3rem;
    color: #fff;
    text-transform: uppercase;
}
.serviceName{
    /* background-image: url("/pexels-pixabay-327540.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    /* background-color: #222; */
    padding: .5rem;
    color: #000;
    width: 25vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 1rem;
    /* border-bottom: .1rem solid blue; */
    /* border-right: .1rem solid blue; */
    box-shadow: 0 0 4px #aaa;
}
.serviceName h4{
    font-size: 1rem;
    padding: 0 0 .2rem;
    color: #fff;
}
.serviceName p{
    font-size: .8rem;
    color: #fff;
}
.FAQContainer{
    background-color: #111;
    color: #fff;
    /* height: 50vh; */
    max-height: 100%;
    /* padding-bottom: .5rem; */
}
.FAQContainer h1{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    padding: 30px 0 10px;
    /* background-color: #222; */
    color: #fff;
    text-transform: uppercase;
}
.FAQMainContainer{
    width: 75%;
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* gap: 1rem; */
    /* grid-template-columns: repeat(2, 1fr); */
    padding: 1rem 0;
    /* border-bottom: .1rem solid #fff; */
    /* background-color: #eee; */

}
.questionContainer{
    background-color: #000;
    /* border: .1rem solid #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: .5rem auto;
    border-radius: .5rem;
    /* box-shadow: 0 0 10px #eee; */
    /* text-align: center; */
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
}
.questionContainer h4{
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 0 5px;
    position: relative;
    width: 100%;
}
.questionContainer h4 i{
    border-radius: 50%;
    padding: 1rem;
    /* border: .2rem solid #000; */
    /* margin-right: 20px; */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /* display: block; */
    /* width: 20px; */
    /* height: 20px; */
}
.questionContainer p{
    font-weight: 200;
    font-size: 1rem;
    padding: .2rem 0;
    /* background-color: #eee; */
    /* border: 2px solid #ccc; */
    /* outline: 1px solid #ddd; */
    display: none;
}
.footerContainer{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: .7rem 0;
}
.footerContainer p{
    padding: 0 .3rem;
    font-size: .7rem;
    
}
.footerContainer p a{
    color: yellow;
}