*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, Poppins;
    scroll-behavior: smooth;
}
body{
    background-color: #000066;
}
.mainHeader{
    background-color: #00001a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5% 12.5%;
    box-shadow: 0 2px 4px #00f;
    position: fixed;
    top: 0;
    z-index: 8478474;
}
.social-bar a{
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: .89s;
}
.social-bar a:hover{
    color: yellow;
}
.headerNav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.headerNav .fa-bars, .headerNav .fa-times{
    display: none;
}
.headerNav .nav{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 1rem;
    text-transform: uppercase;
}
.headerNav .nav:hover{
    color: #ff0;
}
.headerNav .button{
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: .7rem 2rem;
    background-color: #00001a;
    border-radius: 20px;
    border: 0;
    transition: all .50s;
    box-shadow: 0 0 5px #00f;
    margin: 10px 15px;
}
.headerNav .button:hover{
    background-color: #000;
    box-shadow: 0 0 5px #000;
}
.headerNav .button:active{
    transform: translateY(10%);
}
.servicesContainer{
    width: 100%;
    margin: 18% auto 0;
    text-align: center;
    padding: 1rem 0;
}
.servicesMainDisplay{
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: .5rem;
}
.servicesContainer h1{
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding: .5rem .3rem;
    color: #fff;
    text-transform: uppercase;
}
.serviceName{
    background-color: #00001a;
    padding: 1rem;
    color: #000;
    width: 25vw;
    margin: 0 auto;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0 4px #aaa;
}
.serviceName h4{
    font-size: 1rem;
    padding: 0 0 .2rem;
    color: #fff;
    text-transform: uppercase;
}
.serviceName p{
    font-size: 200;
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
}
.FAQContainer{
    color: #fff;
    max-height: 100%;
}
.FAQContainer h1{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    padding: 30px 0 10px;
    color: #fff;
    text-transform: uppercase;
}
.FAQMainContainer{
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 0;

}
.questionContainer{
    background-color: #00001a;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin: .5rem auto;
    border-radius: .5rem;
    position: relative;
    transition: all .3s ease;
}
.questionContainer h4{
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 0 5px;
    width: 80%;
}
.questionContainer i{
    border-radius: 50%;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 40px;
    transform: translateY(-50%);
    cursor: pointer;
}
.questionContainer.active{
    background-color: #fff;
    color: #00001a;
}
.questionContainer.active .fa-plus{
    display: none;
}
.questionContainer.active .faqanx{
    display: block;
}
.questionContainer .faqanx{
    font-weight: 300;
    width: 80%;
    font-size: 1rem;
    padding: .2rem 0;
    display: none;
}
.footerContainer{
    background-color: #00001a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: .7rem 0;
}
.footerContainer p{
    padding: 0 .3rem;
    font-size: .7rem;
    
}
.footerContainer p a{
    color: yellow;
}