*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, Poppins;
    scroll-behavior: smooth;
}
body{
    background: #000066;
    overflow-x: hidden;
}

.mainHeader{
    background-color: #00001a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 12.5%;
    border-bottom: .1rem solid #fff;
    position: fixed;
    top: 0;
    z-index: 8478474;
}
.social-bar a{
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: .89s;
}
.social-bar a:hover{
    color: yellow;
}
.headerNav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* position: relative; */
}
.headerNav .fa-bars, .headerNav .fa-times{
    display: none;
}
.headerNav .nav{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 1rem;
    text-transform: uppercase;
}
.headerNav .button{
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: .7rem 2rem;
    background-color: #00001a;
    border-radius: 20px;
    border: 0;
    transition: all .50s;
    box-shadow: 0 0 5px #00f;
    margin: 10px 15px;
}
.headerNav .button:hover{
    background-color: #000;
    box-shadow: 0 0 5px #000;
}
.headerNav .button:active{
    transform: scale(.89);
}
.textContent{
    text-align: center;
    margin: 18% auto 0;
    transition: all .89s;
}
.textContent h1{
    color: #fff;    
    font-size: 2rem;
    font-weight: 700;
}
.textContent h1 span{
    color: #fff;
    font-weight: 300;
}
.textContent p{
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
    /* padding-bottom: .5rem; */
    line-height: 1.5;
    max-width: 60vw;
    margin: 10px auto;

}
.textContent button{
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: .7rem 2rem;
    background-color: #00001a;
    border-radius: 20px;
    border: 0;
    transition: all .50s;
    box-shadow: 0 0 5px #00f;
    margin: 10px 15px;
}
.textContent button:hover{
    background-color: #000;
    box-shadow: 0 0 5px #000;
}
.textContent button:active{
    transform: scale(.89);
}
.benefits{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 12.5%;
    /* background-color: #000; */
}
.benefits h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff
}
.benefitsBox{
    /* height: 30vh; */
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 2rem;
    padding: 5% 0;

}
.benefitsBox i{
    font-size: 2rem;
    color: blue;
    padding: 1rem;
}
.items{
    background-color: #00001a;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: 0 0 10px #00f;
    padding: 5%;
    border-radius: 10px;
    color: #fff;
    transition: .70s;
}
.items:hover{
    box-shadow: 0 0 20px #00f;
    /* transform: translateY(-10%); */
    transform: scale(1.2);
}
.items h4{
    /* border-bottom: 4px solid yellow; */
    padding-bottom: .4rem;
    font-size: 1rem;
    text-transform: uppercase;
}
.items p{
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
}
.unlock{
    /* background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)), url("/unlock.jpg"); */
    height: 100%;
    padding: 2% 0;
    background-size: cover;
    background-position: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.unlockText{
    text-align: left;
    width: 50%;
    margin: 0 auto;
    padding: 0 1rem;
    border-left: .2rem solid white;
    /* padding-left: .2rem; */
   
}
.unlockText h1{
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* text-align: left; */
    /* display: inline; */
}
.unlockText p{
    color: #fff;
    font-size: 1rem;
    line-height: 2rem;
    padding: .3rem 0;
}
.unlockText button{
    color: #fff;
    background-color: #00001a;
    padding: .3rem .5rem;
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
    border: .1rem solid #00f;
    box-shadow: 0 0 5px #eee;
    transition: .50s;
}
.unlockText button:active{
    transform: scale(.89);
}
.contactSection{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #000; */
    border-bottom: .1rem solid #fff;
    color: #fff;
    padding: 5% 0;
}
.contactSection h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
    /* color: #fff; */
}
.contactSection p{
    font-size: .8rem;
    /* line-height: 40px */
    padding-bottom: .3rem;
    /* color: #333; */
}
form{
    width: 50%;
    margin: 0 auto;
}
form .input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
form p{
    text-align: center;
}
form .input input{
    background-color: #eee;
    outline: 0;
    border: 0;
    padding: .3rem;
    /* width: 50vw; */
    font-size: 1rem;
    box-shadow: 0 0 3px #eee;

}
form .input .email{
    height: 2rem;
    width: 100%;
    margin-bottom: .5rem;
    /* border-radius: .5rem; */
    border: 0;
}
form textarea{
    height: 30vh;
    width: 100%;
    resize: none;
    padding: .5rem;
    /* border-radius: 25px; */
    font-size: 1rem;
    border: 0;
    background-color: #eee;
    box-shadow: 0 -2px 3px #eee;
    /* scrollbar-arrow-color: #00f; */
}
form .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
}
form .buttons a{
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: #00001a;
    /* padding: 10px 20px; */
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px #00f;
    transition: .5s;

}
form .buttons a:hover{
    transform: translateY(-10%);
}
.footerContainer{
    background-color: #00001a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: .7rem 0;
}
.footerContainer p{
    padding: 0 .3rem;
    font-size: .7rem;
}
.footerContainer p a{
    color: yellow;
}
