*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Roboto, Poppins;
    scroll-behavior: smooth;
}
body{
    background: #000066;
    overflow-x: hidden;
}

.mainHeader{
    background-color: #00001a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5% 12.5%;
    box-shadow: 0 2px 4px #00f;
    position: fixed;
    top: 0;
    z-index: 8478474;
}
.social-bar a{
    margin-right: 1rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: .89s;
}
.social-bar a:hover{
    color: yellow;
}
.headerNav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.headerNav .fa-bars, .headerNav .fa-times{
    display: none;
}
.headerNav .nav{
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 1rem;
    text-transform: uppercase;
}
.headerNav .nav:hover{
    color: #ff0;
}
.headerNav .button{
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: .7rem 2rem;
    background-color: #00001a;
    border-radius: 20px;
    border: 0;
    transition: all .50s;
    box-shadow: 0 0 5px #00f;
    margin: 10px 15px;
}
.headerNav .button:hover{
    background-color: #000;
    box-shadow: 0 0 5px #000;
}
.headerNav .button:active{
    transform: scale(.89);
}
.textContent{
    padding: 5% 0;
    text-align: center;
    margin: 18% auto 0;
    transition: all .89s;
}
.textContent h1{
    color: #fff;    
    font-size: 2rem;
    font-weight: 700;
}
.textContent h1 span{
    color: #fff;
    font-weight: 300;
}
.textContent p{
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    max-width: 60vw;
    margin: 10px auto;

}
.textContent a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    padding: .5rem 1.5rem;
    background-color: #00001a;
    border-radius: 20px;
    border: 0;
    transition: all .50s;
    box-shadow: 0 0 5px #00f;
    margin: 0px 15px;
}
.textContent a:hover{
    background-color: #000;
    box-shadow: 0 0 5px #000;
}
.textContent a:active{
    transform: scale(.89);
}
.benefits{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 12.5%;
}
.benefits h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff
}
.benefitsBox{
    max-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 2rem;
    padding: 5% 0;

}
.benefitsBox i{
    font-size: 2rem;
    color: blue;
    padding: 1rem;
}
.items{
    background-color: #00001a;
    box-shadow: 0 0 10px #00f;
    padding: 5%;
    border-radius: 10px;
    color: #fff;
    transition: .70s;
}
.items:hover{
    box-shadow: 0 0 20px #00f;
    transform: scale(1.2);
}
.items h4{
    padding-bottom: .4rem;
    font-size: 1rem;
    text-transform: uppercase;
}
.items p{
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}
.unlock{
    height: 100%;
    padding: 2% 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.unlockText{
    text-align: left;
    width: 50%;
    margin: 0 auto;
    padding: 0 1rem;
    border-left: .2rem solid white;
   
}
.unlockText h1{
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.unlockText p{
    color: #fff;
    font-size: 1rem;
    line-height: 2rem;
    padding: .3rem 0;
}
.unlockText a{
    color: #fff;
    background-color: #00001a;
    padding: .4rem 1rem;
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
    border: 0;
    box-shadow: 0 0 5px #00f;
    transition: .50s;
    text-decoration: none;
}
.unlockText a:active{
    transform: scale(.89);
}
.contactSection{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: .1rem solid #fff;
    color: #fff;
    padding: 5% 0;
}
.contactSection h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.contactSection p{
    font-size: .8rem;
    padding-bottom: .3rem;
}
form{
    width: 50%;
    margin: 0 auto;
}
form .input{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
form p{
    text-align: center;
}
form .input input{
    background-color: #00001a;
    outline: 0;
    border: 0;
    padding: 1rem;
    font-size: 1rem;
    box-shadow: 0 0 3px #00f;

}
form .input .email{
    color: #fff;
    height: 2rem;
    width: 100%;
    margin-bottom: .5rem;
    border: 0;
    border-radius: 10px;
}
form textarea{
    color: #fff;
    height: 30vh;
    width: 100%;
    resize: none;
    padding: 1rem;
    font-size: 1rem;
    border: 0;
    background-color: #00001a;
    box-shadow: 0 -2px 3px #00f;
    border-radius: 10px;
}
form .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3rem;
}
form .buttons a{
    padding: .7rem 1.5rem;
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: #00001a;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 0 3px #00f;
    transition: .5s;

}
form .buttons a:active{
    transform: scale(.89);
}
.footerContainer{
    background-color: #00001a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: .7rem 0;
}
.footerContainer p{
    padding: 0 .3rem;
    font-size: .7rem;
}
.footerContainer p a{
    color: yellow;
}
